* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
    text-align: left;
    color: #828282;
    padding: 28px 0 0 45px;
}

section {
    width: 430px;
    height: 400px;  
    gap: 0px;
    border-radius: 6px 0px 0px 0px;
    opacity: 0px;

}

.section1 {
    border-bottom: solid #ECECEC;
}

h1 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 46.88px;
    letter-spacing: -0.0375em;
    text-align: left;
    color: #0B1354;
    padding: 4px 0 0 45px;
}
.section2{
    display: flex;
}
p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #4F4F4F;
    padding: 4px 0 27.4px 45px;
}
.items1{
    padding: 0;
    margin: 0;
    
    
}
.items2{
    padding: 33px 131px 0 14px; 
}

.items3{
    padding: 8px 131px 0 14px; 
}